@font-face {
  font-family: 'CG45';
  src: url('/CPB/fonts/cg-pixel-4x5.ttf');
}
@font-face {
  font-family: 'CG45m';
  src: url('/CPB/fonts/cg-pixel-4x5-mono.ttf');
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a, .nolink {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover, .nolink:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

th {
	text-align: left;
}
.grow {
	width: 100%;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}




.cpb-ui {
	padding: 8px;
	height: 100vh;
}

.cpb-main {
	width: 1024px;
	height: calc(100vh - 16px);
}

.footer {
	/* height: 2.375rem; */
}

.cpb-content {
	overflow-y: scroll;
	scrollbar-color: black;
  scrollbar-width: 10px;
	padding-right: 8px;
	justify-content: space-between;
}
.cpb-content::-webkit-scrollbar {
	background-color: #c0c0c0;
	width: 5px;
}
.cpb-content::-webkit-scrollbar-thumb {
	background: #353535;
}

.user-bar {
	font-size: 1rem;
	line-height: 1rem;
}

.logo {
	font-size: 2rem;
	line-height: 2rem;
	font-family: 'Azeret Mono', monospace;
}

.uuid {
  text-transform: uppercase;
  font-family: 'Azeret Mono', monospace;
}

.cpblink {
	position: relative;
}
.cpblink .mark {
	position: absolute;
	top: 0;
	left: 0;
	height: 6px;
	width: 6px;
	fill: none;
	stroke-width: 1px;
	stroke: #454545;
  font-weight: 200;
}

.head-frame {
	height: calc(1rem + 0.3125rem + 54px);
	padding-right: 8px;
	border-right: 5px solid #353535;
}

.head-subframe {
	height: 54px;
}


.fb-pipe {
	height: 1rem;
}
.fb-pipe-exp {
	height: 1rem;
}

.flexbox {
	box-sizing: border-box;
}
.fb-box {
  display: flex;
}
.fb-expand {
  flex: 1;
}
.fb-center {
	justify-content: center;
}
.fb-between {
	justify-content: space-between;
}
.fb-around {
	justify-content: space-around;
}
.fb-vert.fb-norm {
  flex-direction: column;
}
.fb-vert.fb-flip {
  flex-direction: column-reverse;
}
.fb-hori.fb-norm {
  flex-direction: row;
}
.fb-hori.fb-flip {
  flex-direction: row-reverse;
}
.fb-box.fb-grid {
  gap: 0.3125rem;
}

.fb-form input {
  height: 1.8rem;
  line-height: 1.8rem;
  border: 0;
  border-bottom: 1px solid rgb(0,100,200);
	background-color: #f5f5f5;
}
.fb-form .cpblink {
  line-height: 1.8rem;
}
.fb-form .main-editor {
	width: 100%;
	resize: none;
	flex: 1;
}
.main-editor::-webkit-scrollbar {
	background-color: #c0c0c0;
	width: 5px;
}
.main-editor::-webkit-scrollbar-thumb {
	background: #353535;
}


.fp-pair {
	background-color: #dfdfdf;
	border-radius: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 6px;
	padding-right: 6px;
}
.fp-label {
	font-weight: bold;
}
.fp-pair.fp-metalabel {
	font-weight: bold;
	background: none;
	padding-right: 0;
}
.fp-item {
	width: 100%;
}
.fp-table {
	background-color: #dfdfdf;
	padding: 4px;
	font-family: 'Azeret Mono', monospace;
	border-radius: 5px;
	font-size: 0.85rem;
	flex-wrap: wrap;
}
.fp-run {
	border-radius: 5px;
}
.fp-table > .fp-pair,
.fp-table > .fp-run {
	border: 1px solid #c0c0c0;
}
.fp-table > .fp-run {
	background-color: #d6d6d6;
	padding: 2px;
}
.fp-table > .fp-pair {
	background-color: #e2e2e2;
	margin: 2px;
}

.fp-cond.pp-true {
	background-color: #d0d0ff;
}
.fp-cond.pp-false {
	background-color: #ffd0d0;
}
.fp-cond.pp-false {
	background-color: #ffd0d0;
}
.fp-cond.pp-null {
	background: repeating-linear-gradient(
	  45deg,
	  #c9c9c9,
	  #c9c9c9 1px,
	  #dfdfdf 1px,
	  #dfdfdf 2px
	);
}
.fp-cond.pp-string-full {
	background-color: #d0efd0;
}
.fp-cond.pp-string-empty {
	background-color: #efefd0;
}


.heartmark {
	font-family: 'Inter', sans-serif;
	text-align: center;
	font-size: 1.5rem;
}


.h-pipe {
	height: 2px;
	background-color: #555555;
}
.v-pipe {
	width: 2px;
	background-color: #555555;
}


.balance-left {
	margin-left: 0.3125rem;
}
.balance-right {
	margin-right: 0.3125rem;
}

.history-items {
	width: 100%;
}
.history-item .history-num {
	font-family: 'Azeret Mono', monospace;
	text-align: right;
	padding-right: 0.6rem;
}
.history-item .history-vuuid {
}

.title .title-main {
	font-size: 2.497902432574926rem;
	line-height: 2.497902432574926rem;
	font-weight: 900;
}
.title .title-sub {
	font-size: 1.03466506505728rem;
	line-height: 1.03466506505728rem;
}

h1 {
	font-size: 1.9324390203593294rem;
	line-height: 1.9324390203593294rem;
	margin-top: 3.126752016127943rem;
}
h2 {
	font-size: 1.582963412215598rem;
	line-height: 1.582963412215598rem;
	margin-top: 2.5612886039123466rem;
}
h3 {
	font-size: 1.3669756081437323rem;
	line-height: 1.3669756081437323rem;
	margin-top: 2.2118129957686152rem;
}
h4 {
	font-size: 1.2334878040718662rem;
	line-height: 1.2334878040718662rem;
	margin-top: 1.9958251916967493rem;
}
h5 {
	font-size: 1.1509878040718664rem;
	line-height: 1.1509878040718664rem;
	margin-top: 1.8623373876248834rem;
}
h6 {
	font-size: 1.1rem;
	line-height: 1.1rem;
	margin-top: 1.7798373876248836rem;
}


.rendered h1,
.rendered h2,
.rendered h3,
.rendered h4,
.rendered h5,
.rendered h6 {
	margin-bottom: 0;
}
.rendered p {
	margin-top: 1rem;
	margin-bottom: 0;
	font-size: 1.1rem;
	line-height: 1.375rem;
}


.medium-right {
	display: none;
	min-width: 300px;
	max-width: 500px;
}
.recent-title {
	font-weight: 500;
	font-size: 1rem;
	line-height: 1rem;
}
.recent-date,
.recent-user {
	font-size: 0.625rem;
	line-height: 0.625rem;
	text-transform: uppercase;
	font-weight: 300;
}
@media (min-width: 1324px) {
	.medium-right {
		display: inherit;
	}
}

.search-bar {
	position: relative;
	height: 1.8rem;
}
.search-input {
	height: 1.8rem;
	line-height: 1.8rem;
}
.search-input:focus {
	outline: none;
}
.search-dropdown {
	position: absolute;
	width: 100%;
	z-index: 100;
	top: 1.8rem;
	background-color: white;
	border-width: 0 1px 1px 1px;
	border-color: #6e7fd2;
	border-style: solid;
}
.search-preview-item {
	padding-left: 0.3125rem;
}
.search-preview-item:first-child {
	padding-top: 0.3125rem;
}


.material {
	background-color: #6e7fd2;
	color: #efefef;
}
.material a {
	color: #dead25;
}


.hidden {
	display: none;
}

.uitxt {
	font-size: 1rem;
	line-height: 1rem;
}
.uitxt.s3txt {
	font-size: 0.625rem;
	line-height: 0.625rem;
}
.uitxt.s2txt {
	font-size: 0.75rem;
	line-height: 0.75rem;
}
.uitxt.s1txt {
	font-size: 0.875rem;
	line-height: 0.875rem;
}
.uitxt.b1txt {
	font-size: 1.1rem;
	line-height: 1.1rem;
}

.uitxt.w1txt { font-weight: 100; }
.uitxt.w2txt { font-weight: 200; }
.uitxt.w3txt { font-weight: 300; }
.uitxt.w4txt { font-weight: 400; }
.uitxt.w5txt { font-weight: 500; }
.uitxt.w6txt { font-weight: 600; }
.uitxt.w7txt { font-weight: 700; }
.uitxt.w8txt { font-weight: 800; }
.uitxt.w9txt { font-weight: 900; }


.content-subtitle {
  font-weight: 700;
}

.reticle {
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
}
.corner {
  height: 100%;
  aspect-ratio: 1;
}
.reticle-row {
  width: 100%;
  height: 50px;
}
.reticle-body {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
.reticle-s10 .reticle-row {
  height: 10px;
}
.reticle-s20 .reticle-row {
  height: 20px;
}
.reticle-s30 .reticle-row {
  height: 30px;
}
.reticle-s40 .reticle-row {
  height: 40px;
}
.reticle-s50 .reticle-row {
  height: 50px;
}
.corner-h {
  height: 5px;
}
.corner-vb {
  width: 5px;
  background-color: #353535;
}
.corner-hb {
  background-color: #353535;
}
.corner-ul,
.corner-ur,
.corner-bl,
.corner-br {
  width: 5px;
  height: 5px;
  background-color: #353535;
}

.qrdefault {
  height: 100%;
}
