:root {
  --gap: 0.3125rem;
  --paper: #fefefe;
  --print: #303030;
  --matte: #353535;
  --rough: #f9f9f9;
  --metal: #f7f7f7;
  --rubber: #efefef;
  --plastic: #c0c0c0;
  --plaster: #dfdfdf;
  --blue: #6e7fd2;
  --red: #de2657;
  --syngreen: #d0efd0;
  --frosted: #e9e8f7;
  --ice: #cedff0;
  --defrost: #909090;
  --hifrost: #252525;
  --lens: #9e9fe2;
}
.darkmode {
  --paper: #252525;
  --print: #e0e0e0;
  --matte: #9090af;
  --metal: #222222;
  --rubber: #181818;
  --rough: #1e1e1e;
  --plastic: #191919;
  --plaster: #dfdfdf;
  --blue: #becfef;
  --frosted: #1a1a25;
  --ice: #2e2e3f;
  --defrost: #d0d0d0;
  --hifrost: #e0e0e0;
  --lens: #efefef;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
  background-color: var(--paper);
	color: var(--print);
	margin: 0;
	box-sizing: border-box;
	font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a, .nolink, a:visited {
  color: var(--blue);
	text-decoration: none;
}
a.missing {
  color: var(--red);
}

a:hover, .nolink:hover {
	text-decoration: underline;
}
.disabled-link:hover {
  text-decoration: none;
}

th {
	text-align: left;
}
.grow {
	width: 100%;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.325rem;
	box-sizing: border-box;
  color: var(--print);
}

input:disabled {
	color: #ccc;
}

button {
	color: var(--print);
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

canvas {
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
  background-color: var(--metal);
}

pre {
  margin: 0;
  font-family: 'Azeret Mono', monospace;
}

ol {
  counter-reset: section;
  list-style-type: none;
}
li::before {
  counter-increment: section;
  content: counters(section, ".") " ";
  margin-left: -20px;
}
li::marker, li::before {
  font-weight: 400;
}
.toc ol {
  list-style-position: outside;
  padding-inline-start: 20px;
  margin: 0;
}
.toc > ol {
  margin-left: var(--gap);
}
.toc li {
  font-weight: 500;
  margin-top: var(--gap);
}
.toc-plus {
  font-weight: 200;
  font-size: 0.85rem;
}
.sbwrap {
  height: 67px;
}
.sbwrap .search-bar {
  width: 100%;
}



.cpb-ui {
	padding: 8px;
	height: 100vh;
  background-color: var(--paper);
  color: var(--print);
}

.cpb-main {
	width: 1024px;
	flex-basis: 1024px;
}

.footer {
	/* height: 2.375rem; */
}

.cpb-content {
  position: relative;
	overflow-y: scroll;
  overflow-x: hidden;
	scrollbar-color: black;
  scrollbar-width: 10px;
	padding-right: 8px;
	justify-content: space-between;
}
.cpb-content::-webkit-scrollbar {
	background-color: var(--plastic);
	width: 5px;
}
.cpb-content::-webkit-scrollbar-thumb {
	background: var(--matte);
}

.cpb-content.edit-mode {
  overflow-y: hidden;
  padding-right: 0;
}
.cpb-content.edit-mode .footer {
  border-right: 5px solid var(--matte);
  padding-right: 8px;
}
.watermargin {
  position: absolute;
  height: calc(58px + 3.126752016127943rem);
  width: 100%;
}

.user-bar {
	font-size: 1rem;
	line-height: 1rem;
}

.logo {
	font-size: 2rem;
	line-height: 2rem;
	font-family: 'Azeret Mono', monospace;
  font-weight: 800;
}
.logofill {
  background-color: var(--matte);
  margin-top: 0.315rem;
  margin-bottom: 0.315rem;
  margin-left: 2px;
  margin-right: 2px;
  height: 100%;
}

.uuid {
  text-transform: uppercase;
  font-family: 'Azeret Mono', monospace;
}

.cpblink {
	position: relative;
}
.cpblink .mark {
	position: absolute;
	top: 0;
	left: 0;
	height: 6px;
	width: 6px;
	fill: none;
	stroke-width: 1px;
	stroke: #454545;
  font-weight: 200;
}
.cpblink.silent {
	color: var(--print);
}
.cpblink.silent:hover {
	text-decoration: none;
}
.nolink {
  cursor: pointer;
}
.current-link, .disabled-link {
  font-weight: 600;
}
.disabled-link {
  color: var(--print);
  cursor: default;
}

.head-frame {
	height: calc(0.75rem + var(--gap) + 50px);
	padding-right: 8px;
	border-right: 5px solid var(--matte);
}

.prehead {
  font-size: 0.75rem;
  line-height: 0.75rem;
}

.head-subframe {
	height: 54px;
}

.user-bar {
  font-size: 0.75rem;
  line-height: 0.75rem;
}


.fb-pipe {
	height: 1rem;
  width: 100%;
}
.fb-pipe-exp {
	height: 1rem;
}

.flexbox {
	box-sizing: border-box;
}
.fb-box {
  display: flex;
}
.fb-expand {
  flex-grow: 1;
}
.fb-solid {
  flex-shrink: 0;
}

.fb-start   { justify-content: flex-start; }
.fb-end     { justify-content: flex-end; }
.fb-center  { justify-content: center; }
.fb-between { justify-content: space-between; }
.fb-around  { justify-content: space-around; }

.fb-vert.fb-norm {
  flex-direction: column;
}
.fb-vert.fb-flip {
  flex-direction: column-reverse;
}
.fb-hori.fb-norm {
  flex-direction: row;
}
.fb-hori.fb-flip {
  flex-direction: row-reverse;
}
.fb-box.fb-grid {
  gap: 0.3125rem;
}

.fb-form input {
  height: 1.8rem;
  line-height: 1.8rem;
  border: 0;
  border-bottom: 1px solid rgb(0,100,200);
	background-color: #f5f5f5;
}
.fb-form .cpblink {
  line-height: 1.8rem;
}
.fb-form .main-editor {
	width: 100%;
	resize: none;
	flex: 1;
  overflow-y: scroll;
}
.main-editor::-webkit-scrollbar {
	background-color: var(--plastic);
	width: 5px;
}
.main-editor::-webkit-scrollbar-thumb {
	background: var(--matte);
}
.editor-area {
  position: relative;
}
.main-editor {
  border: 0;
  background-color: #fcfcfc;
  border-left: 1px solid #f0f0f0;
}
.main-editor:focus {
  outline: 0;
}
.editor-rule {
  position: absolute;
  width: calc(100% - 0.625rem);
  height: 1px;
  background-color: #f0f0f0;
}
.editor-rule.bottom-rule {
  bottom: 0;
}


.fp-pair {
	background-color: var(--plaster);
	border-radius: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 6px;
	padding-right: 6px;
}
.fp-label {
	font-weight: bold;
}
.fp-pair.fp-metalabel {
	font-weight: bold;
	background: none;
	padding-right: 0;
}
.fp-item {
	width: 100%;
}
.fp-table {
	background-color: var(--plaster);
	padding: 4px;
	font-family: 'Azeret Mono', monospace;
	border-radius: 5px;
	font-size: 0.85rem;
	flex-wrap: wrap;
}
.fp-run {
	border-radius: 5px;
  flex-wrap: wrap;
}
.fp-table > .fp-pair,
.fp-table > .fp-run {
	border: 1px solid var(--plastic);
}
.fp-table > .fp-run {
	background-color: #d6d6d6;
	padding: 2px;
}
.fp-table > .fp-pair {
	background-color: #e2e2e2;
	margin: 2px;
}

.fp-cond.pp-true {
	background-color: #d0d0ff;
}
.fp-cond.pp-false {
	background-color: #ffd0d0;
}
.fp-cond.pp-false {
	background-color: #ffd0d0;
}
.fp-cond.pp-null {
	background: repeating-linear-gradient(
	  45deg,
	  #c9c9c9,
	  #c9c9c9 1px,
	  var(--plaster) 1px,
	  var(--plaster) 2px
	);
}
.fp-cond.pp-string-full {
	background-color: var(--syngreen);
}
.fp-cond.pp-string-empty {
	background-color: #efefd0;
}


.heartmark {
	font-family: 'Inter', sans-serif;
	text-align: center;
	font-size: 1.5rem;
}


.h-pipe {
	height: 2px;
	background-color: #555555;
  width: 100%;
}
.v-pipe {
	width: 2px;
	background-color: #555555;
  height: 100%;
}


.balance-left {
	margin-left: 0.3125rem;
}
.balance-right {
	margin-right: 0.3125rem;
}

.history-items {
	width: 100%;
}
.history-item .history-num {
	font-family: 'Azeret Mono', monospace;
	text-align: right;
	padding-right: 0.6rem;
}
.history-item .history-vuuid {
}

.title-frame .flexlab {
  width: 10rem;
}
.title-frame .h-pipe {
  background-color: #d0d0d0;
  height: 1px;
}

.title-frame .title-main {
	font-size: 2.497902432574926rem;
	line-height: 2.497902432574926rem;
	font-weight: 900;
}
.head-frame .title-main {
	font-size: 2rem;
	line-height: 2rem;
	font-weight: 900;
}
.head-frame .title-sub {
	font-size: 1rem;
	line-height: 1rem;
  font-weight: 500;
}

h1 {
	font-size: 1.9324390203593294rem;
	line-height: 1.9324390203593294rem;
	margin-top: 3.126752016127943rem;
}
h2 {
	font-size: 1.582963412215598rem;
	line-height: 1.582963412215598rem;
	margin-top: 2.5612886039123466rem;
}
h3 {
	font-size: 1.3669756081437323rem;
	line-height: 1.3669756081437323rem;
	margin-top: 2.2118129957686152rem;
}
h4 {
	font-size: 1.2334878040718662rem;
	line-height: 1.2334878040718662rem;
	margin-top: 1.9958251916967493rem;
}
h5 {
	font-size: 1.1509878040718664rem;
	line-height: 1.1509878040718664rem;
	margin-top: 1.8623373876248834rem;
}
h6 {
	font-size: 1.1rem;
	line-height: 1.1rem;
	margin-top: 1.7798373876248836rem;
}


.rendered h1,
.rendered h2,
.rendered h3,
.rendered h4,
.rendered h5,
.rendered h6 {
	margin-bottom: 0;
}
.rendered p {
	margin-top: 1rem;
	margin-bottom: 0;
	font-size: 1.1rem;
	line-height: 1.375rem;
}


.medium-right {
	display: none;
	width: 300px;
}
.recent-page {
  margin-left: var(--gap);
}
.recent-title {
	font-weight: 500;
	font-size: 1rem;
	line-height: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.recent-date,
.recent-user {
	font-size: 0.625rem;
	line-height: 0.625rem;
	text-transform: uppercase;
	font-weight: 300;
}
@media (min-width: 1324px) {
	.medium-right {
		display: inherit;
	}
}

.search-bar {
	position: relative;
}
.search-bar .r2-input {
  color: var(--defrost);
}
.search-bar .r2-input:focus {
  color: var(--hifrost);
}
.search-input:focus {
	outline: none;
}
.search-dropdown {
	position: absolute;
	width: 100%;
	z-index: 100;
	top: 1.8rem;
}
.search-preview-item {
	padding-left: 0.3125rem;
}
.search-preview-item:first-child {
	padding-top: 0.3125rem;
}
.results-items.fb-grid {
  gap: 0.625rem;
}
.results-row,
.results-cell  {
  height: 1rem;
  line-height: 1rem;
  font-size: 1rem;
}
.results .results-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.search-results .col1 {
  width: 30%;
}
.search-results .col2 {
  width: 70%;
}


.material {
	background-color: #6e7fd2;
	color: #efefef;
}
.material a {
	color: #dead25;
}


.hidden {
	display: none;
}

.uitxt,
.uitxt.ntxt {
	font-size: 1rem;
	line-height: 1rem;
}
.nline { height: 1rem; }
.nline.input {
  height: 1.82rem;
  line-height: 1.82rem;
}
.nline .doc-check {
  width: 1rem;
  height: 1rem;
  padding: 0;
  margin: 0;
  border: 4px solid var(--matte);
  -moz-appearance:none;
  -webkit-appearance:none;
  -o-appearance:none;
}
.nline .doc-check:hover {
  border-width: 5px;
}
.nline .doc-check:checked {
  background-color: #9e9fe2;
}
.nline .doc-check:focus {
  outline: none;
}
.nline .doc-check:hover:checked {
  border-width: 5px;
}
.nline .r2-input {
  height: 1rem;
}
.r2-input.single {
  width: 3rem;
  text-align: center;
}

.uitxt.s3txt {
	font-size: 0.625rem;
	line-height: 0.625rem;
}
.s3line { height: 0.625rem; }
.uitxt.s2txt {
	font-size: 0.75rem;
	line-height: 0.75rem;
}
.s2line { height: 0.75rem; }

.uitxt.s1txt {
	font-size: 0.875rem;
	line-height: 0.875rem;
}
.s1line { height: 0.875rem; }
.s1line.input {
  height: 1.5925rem;
}

.uitxt.b1txt {
	font-size: 1.1rem;
	line-height: 1.1rem;
}
.b1line { height: 1.1rem; }
.b1line.input {
  height: 2rem;
}

.uitxt.b2txt {
  font-size: 1.25rem;
	line-height: 1.25rem;
}
.b2line { height: 1.25rem; }
.b2line.input {
  height: 2.275rem;
}

.uitxt.w1txt { font-weight: 100; }
.uitxt.w2txt { font-weight: 200; }
.uitxt.w3txt { font-weight: 300; }
.uitxt.w4txt { font-weight: 400; }
.uitxt.w5txt { font-weight: 500; }
.uitxt.w6txt { font-weight: 600; }
.uitxt.w7txt { font-weight: 700; }
.uitxt.w8txt { font-weight: 800; }
.uitxt.w9txt { font-weight: 900; }


.content-subtitle {
  font-weight: 700;
}

.reticle {
  width: 100%;
  height: 100%;
  background-color: var(--rough);
}
.corner {
  height: 100%;
  aspect-ratio: 1;
}
.reticle-row {
  width: 100%;
  height: 50px;
}
.reticle-body {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
.reticle-s10 .reticle-row {
  height: 10px;
}
.reticle-s20 .reticle-row {
  height: 20px;
}
.reticle-s30 .reticle-row {
  height: 30px;
}
.reticle-s40 .reticle-row {
  height: 40px;
}
.reticle-s50 .reticle-row {
  height: 50px;
}
.corner-h {
  height: 5px;
}
.corner-vb {
  width: 5px;
  background-color: var(--matte);
}
.corner-hb {
  background-color: var(--matte);
}
.corner-ul,
.corner-ur,
.corner-bl,
.corner-br {
  width: 5px;
  height: 5px;
  background-color: var(--matte);
}



.r2 {
  width: 100%;
  background-color: var(--rough);
  border: 1px solid var(--rubber);
}
.r2-bar {
  background-color: var(--matte);
}
.r2-row { height: 5px; }
.r2-hori {
  height: 5px;
}
.r2-vert, .r2-left, .r2-right {
  width: 5px;
}
.r2-col {
  height: 100%;
}
.r2-s1 .r2-hori { width: 1px; }
.r2-s1 .r2-vert { height: 6px; }
.r2-s2 .r2-hori { width: 2px; }
.r2-s2 .r2-vert { height: 7px; }
.r2-s3 .r2-hori { width: 3px; }
.r2-s3 .r2-vert { height: 8px; }
.r2-s4 .r2-hori { width: 4px; }
.r2-s4 .r2-vert { height: 9px; }
.r2-s5 .r2-hori { width: 5px; }
.r2-s5 .r2-vert { height: 10px; }
.r2-s10 .r2-hori { width: 10px; }
.r2-s10 .r2-vert { height: 15px; }
.r2-s20 .r2-hori { width: 20px; }
.r2-s20 .r2-vert { height: 25px; }
.r2-s30 .r2-hori { width: 30px; }
.r2-s30 .r2-vert { height: 35px; }
.r2-s40 .r2-hori { width: 40px; }
.r2-s40 .r2-vert { height: 45px; }
.r2-s50 .r2-hori { width: 50px; }
.r2-s50 .r2-vert { height: 55px; }

.r2-raised {
  z-index: 100;
}

.r2-over {
  position: relative;
  z-index: 1;
}
.r2-over .r2 {
  position: absolute;
  height: 100%;
}
.r2-over.focused .r2 {
  background-color: var(--frosted);
  border-color: var(--ice);
}
.r2-inside {
  position: relative;
  height: 100%;
}
.r2-input {
  width: 100%;
  height: 100%;
  background: none;
  border: 0;
  padding: 0;
  padding-left: 12px;
  padding-right: 12px;
}
.r2-input.centered-input {
  text-align: center;
}
.r2-input:focus {
  outline: none;
}
.r2-over-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
.r2-wrapper {
  position: relative;
}
.input-label {
  color: #afafaf;
  font-weight: 500;
  height: 100%;
}
.input-dropdown {
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}
.search-preview {
}
.search-preview-wrapper {
  padding-left: 4px;
  padding-bottom: 1px;
}

.qrdefault {
  height: 100%;
}

.qr-tests .qr-bay {
  gap: 12px;
  padding: 7px;
}

.w10  { width: 10%; }
.w20  { width: 20%; }
.w25  { width: 25%; }
.w30  { width: 30%; }
.w40  { width: 40%; }
.w50  { width: 50%; }
.w60  { width: 60%; }
.w70  { width: 70%; }
.w80  { width: 80%; }
.w90  { width: 90%; }
.w100 { width: 100%; }

.flexdoc {

}
.flexline {

}
.flexlab {
}
.flexlab > input {
}
.flexlab-txt {
  font-weight: 600;
  min-width: 3rem;
  text-align: right;
}


.qrblab {
  height: 100%;
  aspect-ratio: 1;
  text-align: right;
  font-weight: 600;
}
.qrt63 {
  width: 63px;
  text-align: center;
  font-weight: 600;
}

.ns-sep {
  font-family: 'Azeret Mono', monospace;
}


.special-page {
  margin-top: 0.3125rem;
}

.login-special, .register-special {
  margin-top: 5rem;
}
.login-special .flexdoc {
  position: relative;
  left: -3rem;
}
.login-special .flexlab-txt {
  width: 6rem;
}
.register-special .flexdoc {
  position: relative;
  left: -3rem;
}
.register-special .flexlab-txt {
  width: 6rem;
}

.emphatic .emph-center {
  font-weight: 500;
  background-color: #fafae0;
  border-radius: 2px;
}


.pagination-link {
  width: 1.75rem;
  height: 2rem;
}
.pagination-num {
  text-align: center;
  font-size: 1rem;
  line-height: 1rem;
}
.labeled .pagination-num {
  font-weight: 600;
}
.pagination-lab {
  text-align: center;
  font-size: 0.625rem;
  line-height: 0.625rem;
  color: var(--print);
  font-weight: 200;
}
.pagination a:hover {
  text-decoration: none;
}
.pagination a:hover .pagination-num {
  text-decoration: underline;
}
.pagination .pagination-center {
  gap: 1rem;
}
.pagination-inter {
  width: 0.3125rem;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 900;
  color: #707070;
}

.perma-type {
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: 600;
  text-align: right;
}

.in2 input {
  width: 3em;
}

.fb-hori .spacer1 { width: 0; }
.fb-hori .spacer2 { width: 0.5rem; }
.fb-hori .spacer3 { width: 1.0rem; }
.fb-hori .spacer4 { width: 1.5rem; }
.fb-hori .spacer5 { width: 2.0rem; }
.fb-vert .spacer1 { height: 0; }
.fb-vert .spacer2 { height: 0.5rem; }
.fb-vert .spacer3 { height: 1.0rem; }
.fb-vert .spacer4 { height: 1.5rem; }
.fb-vert .spacer5 { height: 2.0rem; }


.flexlab-txt {
  user-select: none;
}


.fd-input label {
  padding-right: var(--gap);
  font-weight: 600;
  user-select: none;
  text-align: right;
}
.fd-input.fb-flip label {
  text-align: left;
}
.fd-input input,
.fd-input label {
  cursor: pointer;
}

.fd-check input {
  height: 100%;
  aspect-ratio: 1;
  padding: 0;
  margin: 0;
  border: 5px solid var(--matte);
  -moz-appearance:none;
  -webkit-appearance:none;
  -o-appearance:none;
}
.fd-check input:hover {
  border-width: 6px;
}
.fd-check input:checked {
  background-color: var(--lens);
}
.fd-check input:focus {
  outline: none;
}
.fd-check input:hover:checked {
  border-width: 6px;
}

.fd-text {
  height: 100%;
  width: 100%;
}
.fd-text .r2-wrapper {
  height: 100%;
}
.fd-text input {
}

.fd-line {
  overflow: hidden;
  flex-wrap: nowrap;
}
.fd-line.ln-s3 {
  height: 0.625rem;
  line-height: 0.625rem;
  font-size: 0.625rem;
}
.fd-line.ln-s2 {
  height: 0.75rem;
  line-height: 0.75rem;
  font-size: 0.75rem;
}
.fd-line.ln-s1 {
  height: 0.875rem;
  line-height: 0.875rem;
  font-size: 0.875rem;
}
.fd-line.ln-n {
  height: 1rem;
  line-height: 1rem;
  font-size: 1rem;
}
.fd-line.ln-b1 {
  height: 1.1rem;
  line-height: 1.1rem;
  font-size: 1.1rem;
}
.fd-line.ln-b2 {
  height: 1.17rem;
  line-height: 1.17rem;
  font-size: 1.17rem;
}
.fd-line.ln-b3 {
  height: 1.25rem;
  line-height: 1.25rem;
  font-size: 1.25rem;
}
.fd-line.ln-b4 {
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 1.6rem;
}
.fd-line.ln-b5 {
  height: 2.4rem;
  line-height: 2.4rem;
  font-size: 2.4rem;
}
.fd-line.ln-b6 {
  height: 3.8rem;
  line-height: 3.8rem;
  font-size: 3.8rem;
}
.fd-line .r2-sx .r2-hori { width: 3px; }

.fd-line.ln-n .r2-sx .r2-hori {
  width: 2px;
  height: 5px;
}
.fd-line.ln-n .r2-sx .r2-row {
  height: 5px;
}
.fd-line.ln-n .r2-sx .r2-col {
  width: 5px;
}

.fd-line.ln-s1 .r2-sx .r2-hori {
  width: 2px;
  height: 4px;
}
.fd-line.ln-s1 .r2-sx .r2-row {
  height: 4px;
}
.fd-line.ln-s1 .r2-sx .r2-col {
  width: 4px;
}

.fd-line.ln-s2 .r2-sx .r2-hori {
  width: 1px;
  height: 3px;
}
.fd-line.ln-s2 .r2-sx .r2-row {
  height: 3px;
}
.fd-line.ln-s2 .r2-sx .r2-col {
  width: 3px;
}

.fd-line.ln-s3 .r2-sx .r2-hori {
  width: 1px;
  height: 2px;
}
.fd-line.ln-s3 .r2-sx .r2-row {
  height: 2px;
}
.fd-line.ln-s3 .r2-sx .r2-col {
  width: 2px;
}

.wr1 { width: 1rem; }
.wr2 { width: 2rem; }
.wr3 { width: 3rem; }
.wr4 { width: 4rem; }
.wr5 { width: 5rem; }


.flexbox.gr {

}
.flexbox.gr1  > * { width: 100%; }
.flexbox.gr2  > * { width: calc((100% / 2)  - ((var(--gap) * 1) / 2));  }
.flexbox.gr3  > * { width: calc((100% / 3)  - ((var(--gap) * 2) / 3));  }
.flexbox.gr4  > * { width: calc((100% / 4)  - ((var(--gap) * 3) / 4));  }
.flexbox.gr5  > * { width: calc((100% / 5)  - ((var(--gap) * 4) / 5));  }
.flexbox.gr6  > * { width: calc((100% / 6)  - ((var(--gap) * 5) / 6));  }
.flexbox.gr7  > * { width: calc((100% / 7)  - ((var(--gap) * 6) / 7));  }
.flexbox.gr8  > * { width: calc((100% / 8)  - ((var(--gap) * 7) / 8));  }
.flexbox.gr9  > * { width: calc((100% / 9)  - ((var(--gap) * 8) / 9));  }
.flexbox.gr10 > * { width: calc((100% / 10) - ((var(--gap) * 9) / 10)); }

.fw1 { font-weight: 100; }
.fw2 { font-weight: 200; }
.fw3 { font-weight: 300; }
.fw4 { font-weight: 400; }
.fw5 { font-weight: 500; }
.fw6 { font-weight: 600; }
.fw7 { font-weight: 700; }
.fw8 { font-weight: 800; }
.fw9 { font-weight: 900; }

.lw1 label { width: 1rem; }
.lw2 label { width: 2rem; }
.lw3 label { width: 3rem; }
.lw4 label { width: 4rem; }
.lw5 label { width: 5rem; }

.expander {
}
.expander.fill {
  background-color: var(--matte);
}
