body {
  /* measures */
  --basex: 1024px;
  --wuicolx: 250px;
  --gap: 0.3125rem;
  --dblgap: calc(2 * var(--gap));
  --pxgap: 5px;

  --xs4: 0.52rem;
  --xs3: 0.625rem;
  --xs2: 0.75rem;
  --xs1: 0.875rem;
  --xn: 1rem;
  --xb1: 1.1rem;
  --xb2: 1.17rem;
  --xb3: 1.25rem;
  --xb4: 1.6rem;
  --xb5: 2.4rem;
  --xb6: 3.8rem;

  --lnscale: 0.9;

  --xs4f: calc(var(--xs4) * var(--lnscale));
  --xs3f: calc(var(--xs3) * var(--lnscale));
  --xs2f: calc(var(--xs2) * var(--lnscale));
  --xs1f: calc(var(--xs1) * var(--lnscale));
  --xnf: calc(var(--xn) * var(--lnscale));
  --xb1f: calc(var(--xb1) * var(--lnscale));
  --xb2f: calc(var(--xb2) * var(--lnscale));
  --xb3f: calc(var(--xb3) * var(--lnscale));
  --xb4f: calc(var(--xb4) * var(--lnscale));
  --xb5f: calc(var(--xb5) * var(--lnscale));
  --xb6f: calc(var(--xb6) * var(--lnscale));


  /* color definitions */
  --blue: #6e7fd2;
  --red: #de2657;
  --yellow: #dead25;
  --whitegold: #edefd7;
  --offgold: #ebebc2;
  --dustblue: #505070;
  --sunyellow: #fafae0;
  --cyanmist: #d6ecef;
  --cyanlake: #90b8c1;


  /* light mode */
  --paper: #fefefe;
  --print: #303030;
  --title: #2a2a2a;
  --matte: #353535;
  --antimatte: #efefef;
  --rough: #f9f9f9;
  --metal: #f7f7f7;
  --rubber: #efefef;
  --plastic: #c0c0c0;
  --subprint: #c0c0c0;
  --underprint: #afafaf;
  --plaster: #dfdfdf;
  --cc-link: var(--blue);
  --cc-missing: var(--red);
  --syngreen: #d0efd0;
  --frosted: #e9e8f7;
  --ice: #cedff0;
  --defrost: #909090;
  --hifrost: #252525;
  --lens: #9e9fe2;
  --brushed: #fcfcfc;
  --embossed: #f0f0f0;
  --hilight: var(--sunyellow);
  --warn: var(--yellow);
  --alert: var(--red);
  --normal: var(--cyanmist);
  --normalflair: var(--cyanlake);
  --halfprint: #454545;
  --current: #000000;
  /* hexagrams */
  --hgc-line: #000000;
}
.darkmode {
  /* dark mode */
  --paper: #252525;
  --print: #d1d1d1;
  --cc-link: #dfdfae;
  --cc-missing: var(--red);
  --matte: #454545;
  --antimatte: var(--offgold);
  --metal: #202020;
  --rubber: #181818;
  --rough: #1e1e1e;
  --plastic: #191919;
  --plaster: #dfdfdf;
  --title: var(--offgold);
  --frosted: #1a1a25;
  --ice: #2e2e3f;
  --defrost: #d0d0d0;
  --hifrost: #e0e0e0;
  --lens: #efefef;
  --brushed: #202020;
  --embossed: #171717;
  --hilight: var(--dustblue);
  --warn: var(--yellow);
  --alert: var(--red);
  --normal: #6060d0;
  --normalflair: #90b8c1;
  --halfprint: #c9c9c9;
  --subprint: #454545;
  --current: #fffa9a;
  --underprint: #8a8a8a;
  /* hexagrams */
  --hgc-line: var(--whitegold);
  --hgc-o2: var(--whitegold);
  --hgc-o3: #e0e1a9;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
  font-size: 15px;
}

body {
	color: var(--print);
	margin: 0;
	box-sizing: border-box;
	font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a, .nolink, a:visited {
  color: var(--cc-link);
	text-decoration: none;
}
.cpblink.missing {
  color: var(--cc-missing);
}

.cpblink:hover .cpblink-text {
	text-decoration: underline;
}
.cpblink.current-link:hover .cpblink-text,
.cpblink.disabled-link:hover .cpblink-text {
  text-decoration: none;
}

.rendered .cpblink .cpblink-text {
  text-decoration: underline;
  text-decoration-color: #eaebff;
}
.rendered .cpblink.missing .cpblink-text {
  text-decoration-color: #ffdadf;
}

th {
	text-align: left;
}
.grow {
	width: 100%;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.325rem;
	box-sizing: border-box;
  color: var(--print);
}

input:disabled {
	color: #ccc;
}

button {
	color: var(--print);
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

code {
  background-color: var(--metal);
  padding: 1px;
  border: 1px solid var(--rubber);
}

canvas {
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
  background-color: var(--metal);
}

pre {
  margin: 0;
  font-family: Hack, 'Azeret Mono', monospace;
}

ol {

}
.treelike li::before {
  counter-increment: section;
  content: counters(section, ".") " ";
  margin-left: -20px;
}
.treelike li::marker, .treelike li::before {
  font-weight: 400;
}
ol.treelike, .treelike ol {
  list-style-position: outside;
  padding-inline-start: 20px;
  margin: 0;
  counter-reset: section;
  list-style-type: none;
}
ol.treelike {
  margin-left: var(--gap);
}
.treelike li {
  font-weight: 500;
}
.treelike li:not(:first-child) {
  margin-top: 3px;
}
.toc-plus {
  font-weight: 200;
  font-size: 0.85rem;
  user-select: none;
}
.toc-message {
  text-transform: uppercase;
  font-weight: 500;
  font-size: var(--xs1f);
  color: var(--underprint);
}

.info-module .treelike {
  font-size: var(--xnf);
}
.info-module .toc-message {
  text-align: center;
}

.sbwrap .search-bar {
  width: 100%;
}
.sbwrap input {
  height: 1.25rem;
}

.txtmark {
  font-size: 0.5em;
  vertical-align: super;
  user-select: none;
  font-weight: 400;
  font-family: Hack, 'Azeret Mono', monospace;
}

.cpb-shell {
  height: 100%;
  padding: var(--pxgap);
  background-color: var(--paper);
  box-sizing: border-box;
}
.cpb-ui {
	height: 100%;
  width: 100%;
  background-color: var(--paper);
  color: var(--print);
  overflow: hidden;
}

.cpb-main {
  position: relative;
}
.base-min-mode .cpb-main {
  width: var(--basemin);
  flex-basis: var(--basemin);
}
.base-mode .cpb-main,
.medium-mode .cpb-main {
  width: var(--basex);
  flex-basis: var(--basex);
}
.wide-mode .cpb-main {
  max-width: var(--mainmax);
}

.footer {
	margin-top: 5rem;
}
.foot-label {
  font-size: 0.6em;
  font-weight: 700;
}

.cpb-content {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
	scrollbar-color: black;
  scrollbar-width: 10px;
	padding-right: 8px;
	justify-content: space-between;
}
.cpb-finished .cpb-content {
  overflow-y: scroll;
}
.cpb-content::-webkit-scrollbar {
	background-color: var(--plastic);
	width: var(--pxgap);
}
.cpb-content::-webkit-scrollbar-thumb {
	background: var(--matte);
}

.cpb-content.edit-mode {
  overflow-y: hidden;
  padding-right: 0;
}
.cpb-content.edit-mode .footer {
  border-right: var(--pxgap) solid var(--matte);
  padding-right: 8px;
}
.watermargin {
  position: absolute;
  height: calc(58px + 3.126752016127943rem);
  width: 100%;
}

.user-bar {
	font-size: 1rem;
	line-height: 1rem;
}
.ubmini.fill {
  margin-bottom: 2px;
}

.logo {
	font-size: 2rem;
	line-height: 2rem;
	font-family: 'Azeret Mono', monospace;
  font-weight: 800;
}
.logofill {
  background-color: var(--matte);
  margin-top: 0.315rem;
  margin-bottom: 0.315rem;
  margin-left: 2px;
  margin-right: 2px;
  height: 100%;
}

.uuid {
  text-transform: uppercase;
  font-family: Hack, 'Azeret Mono', monospace;
}

.cpblink {
	position: relative;
}
.cpblink .mark {
	position: absolute;
	top: 0;
	right: -6px;
	height: 6px;
	width: 6px;
	fill: none;
	stroke-width: 1px;
	stroke: var(--halfprint);
  font-weight: 200;
}
.cpblink.silent {
	color: var(--print);
}
.cpblink.silent:hover {
	text-decoration: none;
}
.nolink {
  cursor: pointer;
}
.current-link, .disabled-link {
  font-weight: 600;
  color: var(--current);
}
.disabled-link {
  color: var(--print);
  cursor: default;
}

.wide-mode, .medium-mode {
  --headheight: 2rem;
}
.base-mode {
  --headheight: calc(3.5rem + var(--gap));
}
.base-head-upper, .base-head-upper input {
  height: 1.5rem;
}
.base-head-upper input,
.base-head-upper .search-bar {
  width: 15rem;
}

.head-frame {
	height: var(--headheight);
	padding-right: 8px;
	border-right: var(--pxgap) solid var(--matte);
}

.prehead {
  font-size: 0.75rem;
  line-height: 0.75rem;
}

.head-subframe {
	height: 54px;
}

.user-bar {
  font-size: 0.75rem;
  line-height: 0.75rem;
}


.fb-pipe {
	height: 1rem;
  width: 100%;
}
.fb-pipe-exp {
	height: 1rem;
}

.flexbox {
	box-sizing: border-box;
}
.fb-box {
  display: flex;
}
.fb-expand {
  flex-grow: 1;
}
.fb-solid {
  flex-shrink: 0;
}
.fb-rel {
  position: relative;
}
.fb-abs {
  position: absolute;
}
.fb-wrap {
  flex-wrap: wrap;
}

.fb-start   { justify-content: flex-start; }
.fb-end     { justify-content: flex-end; }
.fb-center  { justify-content: center; }
.fb-between { justify-content: space-between; }
.fb-around  { justify-content: space-around; }

.fb-vert.fb-norm {
  flex-direction: column;
}
.fb-vert.fb-flip {
  flex-direction: column-reverse;
}
.fb-hori.fb-norm {
  flex-direction: row;
}
.fb-hori.fb-flip {
  flex-direction: row-reverse;
}
.fb-box.fb-grid {
  gap: 5px;
}

.fb-form input {
  height: 1.8rem;
  line-height: 1.8rem;
  border: 0;
  border-bottom: 1px solid rgb(0,100,200);
	background-color: #f5f5f5;
}
.fb-form .cpblink {
  line-height: 1.8rem;
}
.fb-form .main-editor {
	width: 100%;
	resize: none;
	flex: 1;
  overflow-y: scroll;
}

.fb-title {
  color: var(--title);
}
.fb-mono {
  font-family: Hack, 'Azeret Mono', monospace;
}
.fb-reverse {
  color: var(--paper);
}
.fb-flex {
  flex: 1;
}


.main-editor::-webkit-scrollbar {
	background-color: var(--plastic);
	width: var(--pxgap);
}
.main-editor::-webkit-scrollbar-thumb {
	background: var(--matte);
}
.editor-area {
  position: relative;
}
.main-editor {
  border: 0;
  background-color: var(--brushed);
  border-left: 1px solid var(--embossed);
  font-family: Hack, "Azeret Mono", monospace;
}
.main-editor:focus {
  outline: 0;
}
.editor-rule {
  position: absolute;
  width: calc(100% - 0.625rem);
  height: 1px;
  background-color: var(--embossed);
}
.editor-rule.bottom-rule {
  bottom: 0;
}


.fp-pair {
	background-color: var(--plaster);
	border-radius: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 6px;
	padding-right: 6px;
}
.fp-label {
	font-weight: bold;
}
.fp-pair.fp-metalabel {
	font-weight: bold;
	background: none;
	padding-right: 0;
}
.fp-item {
	width: 100%;
}
.fp-table {
	background-color: var(--plaster);
	padding: 4px;
	font-family: Hack, 'Azeret Mono', monospace;
	border-radius: 5px;
	font-size: 0.85rem;
	flex-wrap: wrap;
}
.fp-run {
	border-radius: 5px;
  flex-wrap: wrap;
}
.fp-table > .fp-pair,
.fp-table > .fp-run {
	border: 1px solid var(--plastic);
}
.fp-table > .fp-run {
	background-color: #d6d6d6;
	padding: 2px;
}
.fp-table > .fp-pair {
	background-color: #e2e2e2;
	margin: 2px;
}

.fp-cond.pp-true {
	background-color: #d0d0ff;
}
.fp-cond.pp-false {
	background-color: #ffd0d0;
}
.fp-cond.pp-false {
	background-color: #ffd0d0;
}
.fp-cond.pp-null {
	background: repeating-linear-gradient(
	  45deg,
	  #c9c9c9,
	  #c9c9c9 1px,
	  var(--plaster) 1px,
	  var(--plaster) 2px
	);
}
.fp-cond.pp-string-full {
	background-color: var(--syngreen);
}
.fp-cond.pp-string-empty {
	background-color: #efefd0;
}


.heartmark {
	font-family: 'Inter', sans-serif;
	text-align: center;
	font-size: 1.5rem;
}


.h-pipe {
	height: 2px;
	background-color: #555555;
  width: 100%;
}
.v-pipe {
	width: 2px;
	background-color: #555555;
  height: 100%;
}


.balance-left {
	margin-left: 0.3125rem;
}
.balance-right {
	margin-right: 0.3125rem;
}

.history-items {
	width: 100%;
}
.history-item, .history-item td {
  height: 1rem;
  white-space: nowrap;
}
.history-item .history-num {
	font-family: Hack, 'Azeret Mono', monospace;
	text-align: right;
	padding-right: 0.6rem;
}
.history-item .history-vuuid {
}

.title-frame .flexlab {
  width: 10rem;
}
.title-frame .h-pipe {
  background-color: #d0d0d0;
  height: 1px;
}

.title-frame .title-main {
	font-size: 2.497902432574926rem;
	line-height: 2.497902432574926rem;
	font-weight: 900;
}
.head-frame .title-main {
}
.head-frame .title-sub {
}

h1 {
	font-size: 1.9324390203593294rem;
	line-height: 1.9324390203593294rem;
	margin-top: 1.9324390203593294rem;
}
h2 {
	font-size: 1.582963412215598rem;
	line-height: 1.582963412215598rem;
	margin-top: 1.582963412215598rem;
}
h3 {
	font-size: 1.3669756081437323rem;
	line-height: 1.3669756081437323rem;
	margin-top: 1.3669756081437323rem;
}
h4 {
	font-size: 1.2334878040718662rem;
	line-height: 1.2334878040718662rem;
	margin-top: 1.2334878040718662rem;
}
h5 {
	font-size: 1.1509878040718664rem;
	line-height: 1.1509878040718664rem;
	margin-top: 1.1509878040718664rem;
}
h6 {
	font-size: 1.1rem;
	line-height: 1.1rem;
	margin-top: 1.7798373876248836rem;
}

.rendered {
  line-height: 1.5;
}
.rendered .content-start {
  float: left;
  clear: right;
}

.rendered h1 {
  border-bottom: 1px solid var(--rubber);
  padding-bottom: 7.5px;
}
.rendered h1,
.rendered h2,
.rendered h3,
.rendered h4,
.rendered h5,
.rendered h6 {
	margin-bottom: 0;
  color: var(--title);
  clear: left;
}
.rendered p {
	margin-top: 1rem;
	margin-bottom: 0;
	font-size: 1.1rem;
}
.rendered > h1:nth-child(3) {
  margin-top: 0;
}

.rendered > .bodyblock {
  margin-top: 1rem;
}

.rendered .quotation {
  margin: 2rem auto 2rem auto;
  max-width: 500px;
}
.rendered .quotation blockquote p {
  margin: 0;
  font-style: italic;
  font-size: var(--xnf);
}
.rendered .quotation figcaption {
  margin-top: var(--gap);
  text-align: right;
  font-size: var(--xs2f);
  padding-right: 10%;
}

.rendered figure {
  margin-top: 2rem;
}
.rendered figure.right {
  float: right;
}

.rendered .bibliography {
  gap: 2rem;
}

.rendered .pgp-key {
  font-size: var(--xs2f);
  line-height: 1.1;
}
.rendered .pgp-header {
  text-align: center;
  display: inline-block;
  width: 100%;
}

.rendered .smallcaps {
  font-variant: small-caps;
}
.rendered .title {
  font-weight: 900;
}
.rendered .alert {
  color: var(--red);
}

.figcontent {
  position: relative;
  border-right: 1px solid var(--rubber);
  border-left: 1px solid var(--rubber);
  padding-right: 1rem;
  padding-left: 1rem;
}
.figcontrols {
  position: absolute;
  visibility: hidden;
  user-select: none;
  right: 0;
  top: 0;
}
.figcontent:hover .figcontrols {
  visibility: visible;
}
.figcontrols .cpblink {
  padding: 5px;
}

.infobar {
  float: right;
  width: calc(150px + 1rem);
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: var(--gap);
  clear: right;
  background-color: var(--paper);
}
.infobar.infotop {
  padding-bottom: 0;
}



.recent-page {
  margin-left: var(--gap);
}
.recent-title {
	font-weight: 500;
	font-size: 1rem;
	line-height: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.recent-date,
.recent-user {
	font-size: 0.625rem;
	line-height: 0.625rem;
	text-transform: uppercase;
	font-weight: 300;
}
.recent-extra {
  color: var(--underprint);
}

.recent-ci {
  overflow: hidden;
}

.wide-ui {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.medium-mode .wide-ui {
  width: var(--medw);
}
.wide-mode .wide-ui {
  width: var(--widew);
}
.wide-col {
  width: var(--wuicolx);
}
.wide-head {
  height: var(--headheight);
}

.wui-module {
  margin-left: var(--gap);
}

.wui-module:not(:first-child) {
  margin-top: var(--gap);
}
.wui-body {
  margin-left: var(--gap);
}

.light-bullet {
  color: var(--halfprint)
}

.search-bar {
	position: relative;
}
.search-bar .r2-input {
  color: var(--defrost);
}
.search-bar .r2-input:focus {
  color: var(--hifrost);
}
.search-input:focus {
	outline: none;
}
.search-dropdown {
	position: absolute;
	width: 100%;
	z-index: 100;
	top: 1.8rem;
}
.search-preview-item {
	margin-left: var(--gap);
}
.search-preview {
	margin-top: var(--dblgap);
	margin-bottom: var(--dblgap);
}
.results-items.fb-grid {
  gap: 0.625rem;
}
.results-row,
.results-cell  {
  height: 1rem;
  line-height: 1rem;
  font-size: 1rem;
}
.results .results-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.search-results .col1 {
  width: 30%;
}
.search-results .col2 {
  width: 70%;
}

.hidden {
	display: none;
}
.ghost {
  visibility: hidden;
}

.uitxt,
.uitxt.ntxt {
	font-size: 1rem;
	line-height: 1rem;
}
.nline { height: 1rem; }
.nline.input {
  height: 1.82rem;
  line-height: 1.82rem;
}
.nline .doc-check {
  width: 1rem;
  height: 1rem;
  padding: 0;
  margin: 0;
  border: 4px solid var(--matte);
  -moz-appearance:none;
  -webkit-appearance:none;
  -o-appearance:none;
}
.nline .doc-check:hover {
  border-width: 5px;
}
.nline .doc-check:checked {
  background-color: #9e9fe2;
}
.nline .doc-check:focus {
  outline: none;
}
.nline .doc-check:hover:checked {
  border-width: 5px;
}
.nline .r2-input {
  height: 1rem;
}
.r2-input.single {
  width: 3rem;
  text-align: center;
}

.uitxt.s3txt {
	font-size: 0.625rem;
	line-height: 0.625rem;
}
.s3line { height: 0.625rem; }
.uitxt.s2txt {
	font-size: 0.75rem;
	line-height: 0.75rem;
}
.s2line { height: 0.75rem; }

.uitxt.s1txt {
	font-size: 0.875rem;
	line-height: 0.875rem;
}
.s1line { height: 0.875rem; }
.s1line.input {
  height: 1.5925rem;
}

.uitxt.b1txt {
	font-size: 1.1rem;
	line-height: 1.1rem;
}
.b1line { height: 1.1rem; }
.b1line.input {
  height: 2rem;
}

.uitxt.b2txt {
  font-size: 1.25rem;
	line-height: 1.25rem;
}
.b2line { height: 1.25rem; }
.b2line.input {
  height: 2.275rem;
}

.uitxt.w1txt { font-weight: 100; }
.uitxt.w2txt { font-weight: 200; }
.uitxt.w3txt { font-weight: 300; }
.uitxt.w4txt { font-weight: 400; }
.uitxt.w5txt { font-weight: 500; }
.uitxt.w6txt { font-weight: 600; }
.uitxt.w7txt { font-weight: 700; }
.uitxt.w8txt { font-weight: 800; }
.uitxt.w9txt { font-weight: 900; }


.content-subtitle {
  font-weight: 700;
}

.reticle {
  width: 100%;
  height: 100%;
  background-color: var(--rough);
}
.corner {
  height: 100%;
  aspect-ratio: 1;
}
.reticle-row {
  width: 100%;
  height: 50px;
}
.reticle-body {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
.reticle-s10 .reticle-row {
  height: 10px;
}
.reticle-s20 .reticle-row {
  height: 20px;
}
.reticle-s30 .reticle-row {
  height: 30px;
}
.reticle-s40 .reticle-row {
  height: 40px;
}
.reticle-s50 .reticle-row {
  height: 50px;
}
.corner-h {
  height: 5px;
}
.corner-vb {
  width: 5px;
  background-color: var(--matte);
}
.corner-hb {
  background-color: var(--matte);
}
.corner-ul,
.corner-ur,
.corner-bl,
.corner-br {
  width: 5px;
  height: 5px;
  background-color: var(--matte);
}



.r2 {
  width: 100%;
  background-color: var(--rough);
  border: 1px solid var(--rubber);
}
.r2-bar {
  background-color: var(--matte);
}
.r2-row { height: 5px; }
.r2-hori {
  height: 5px;
}
.r2-vert, .r2-left, .r2-right {
  width: 5px;
}
.r2-col {
  height: 100%;
}
.r2-s1 .r2-hori { width: 1px; }
.r2-s1 .r2-vert { height: 6px; }
.r2-s2 .r2-hori { width: 2px; }
.r2-s2 .r2-vert { height: 7px; }
.r2-s3 .r2-hori { width: 3px; }
.r2-s3 .r2-vert { height: 8px; }
.r2-s4 .r2-hori { width: 4px; }
.r2-s4 .r2-vert { height: 9px; }
.r2-s5 .r2-hori { width: 5px; }
.r2-s5 .r2-vert { height: 10px; }
.r2-s10 .r2-hori { width: 10px; }
.r2-s10 .r2-vert { height: 15px; }
.r2-s20 .r2-hori { width: 20px; }
.r2-s20 .r2-vert { height: 25px; }
.r2-s30 .r2-hori { width: 30px; }
.r2-s30 .r2-vert { height: 35px; }
.r2-s40 .r2-hori { width: 40px; }
.r2-s40 .r2-vert { height: 45px; }
.r2-s50 .r2-hori { width: 50px; }
.r2-s50 .r2-vert { height: 55px; }

.r2-raised {
  z-index: 10;
}
.r2-hyper {
  z-index: 20;
}
.r2-abs {
  position: absolute;
  height: 100%;
}

.r2-over {
  position: relative;
  z-index: 1;
}
.r2-over .r2 {
  position: absolute;
  height: 100%;
}
.r2-over.focused .r2 {
  background-color: var(--frosted);
  border-color: var(--ice);
}
.r2-inside {
  position: relative;
  height: 100%;
}
.r2-input {
  width: 100%;
  height: 100%;
  background: none;
  border: 0;
  padding: 0;
  padding-left: 12px;
  padding-right: 12px;
}
.r2-input.centered-input {
  text-align: center;
}
.r2-input:focus {
  outline: none;
}
.r2-over-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
.r2-wrapper {
  position: relative;
}
.input-label {
  color: var(--underprint);
  font-weight: 500;
  height: 100%;
}
.input-dropdown {
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}
.search-preview {
}
.search-preview-wrapper {
  padding-left: 4px;
  padding-bottom: 1px;
}

.qrdefault {
  height: 100%;
}

.qr-tests .qr-bay {
  gap: 12px;
  padding: 7px;
}

.w10  { width: 10%; }
.w20  { width: 20%; }
.w25  { width: 25%; }
.w30  { width: 30%; }
.w40  { width: 40%; }
.w50  { width: 50%; }
.w60  { width: 60%; }
.w70  { width: 70%; }
.w80  { width: 80%; }
.w90  { width: 90%; }
.w100 { width: 100%; }

.flexdoc {

}
.flexline {

}
.flexlab {
}
.flexlab > input {
}
.flexlab-txt {
  font-weight: 600;
  min-width: 3rem;
  text-align: right;
}


.qrblab {
  height: 100%;
  aspect-ratio: 1;
  text-align: right;
  font-weight: 600;
}
.qrt63 {
  width: 63px;
  text-align: center;
  font-weight: 600;
}

.ns-sep {
  font-family: Hack, 'Azeret Mono', monospace;
}


.special-page {
  margin-top: 0.3125rem;
}

.login-special, .register-special {
  margin-top: 5rem;
}
.login-special .flexdoc {
  position: relative;
  left: -3rem;
}
.login-special .flexlab-txt {
  width: 6rem;
}
.register-special .flexdoc {
  position: relative;
  left: -3rem;
}
.register-special .flexlab-txt {
  width: 6rem;
}

.emphatic .emph-center {
  font-weight: 500;
  background-color: var(--hilight);
  border-radius: 2px;
}


.pagination-link {
  width: 1.75rem;
  height: 2rem;
}
.pagination-num {
  text-align: center;
  font-size: 1rem;
  line-height: 1rem;
}
.labeled .pagination-num {
  font-weight: 600;
}
.pagination-lab {
  text-align: center;
  font-size: 0.625rem;
  line-height: 0.625rem;
  color: var(--print);
  font-weight: 200;
}
.pagination a:hover {
  text-decoration: none;
}
.pagination a:hover .pagination-num {
  text-decoration: underline;
}
.pagination .pagination-center {
  gap: 1rem;
}
.pagination-inter {
  width: 0.3125rem;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 900;
  color: #707070;
}

.in2 input {
  width: 3em;
}

.fb-hori .spacer1 { width: 0; }
.fb-hori .spacer2 { width: 0.5rem; }
.fb-hori .spacer3 { width: 1.0rem; }
.fb-hori .spacer4 { width: 1.5rem; }
.fb-hori .spacer5 { width: 2.0rem; }
.fb-vert .spacer1 { height: 0; }
.fb-vert .spacer2 { height: 0.5rem; }
.fb-vert .spacer3 { height: 1.0rem; }
.fb-vert .spacer4 { height: 1.5rem; }
.fb-vert .spacer5 { height: 2.0rem; }


.flexlab-txt {
  user-select: none;
}


.fd-input label {
  padding-right: var(--gap);
  font-weight: 600;
  user-select: none;
  text-align: right;
}
.fd-input.fb-flip label {
  text-align: left;
}
.fd-input input,
.fd-input label {
  cursor: pointer;
}

.fd-check input {
  height: 100%;
  aspect-ratio: 1;
  padding: 0;
  margin: 0;
  border: 5px solid var(--matte);
  -moz-appearance:none;
  -webkit-appearance:none;
  -o-appearance:none;
}
.fd-check input:hover {
  border-width: 6px;
}
.fd-check input:checked {
  background-color: var(--lens);
}
.fd-check input:focus {
  outline: none;
}
.fd-check input:hover:checked {
  border-width: 6px;
}

.fd-text {
  height: 100%;
  width: 100%;
}
.fd-text .r2-wrapper {
  height: 100%;
}
.fd-text input {
}

.fd-line {
  overflow: hidden;
  flex-wrap: nowrap;
}
.fd-line.ln-s4 {
  height: var(--xs4);
  line-height: var(--xs4);
  font-size: var(--xs4f);
}
.fd-line.ln-s3 {
  height: var(--xs3);
  line-height: var(--xs3);
  font-size: var(--xs3f);
}
.fd-line.ln-s2 {
  height: var(--xs2);
  line-height: var(--xs2);
  font-size: var(--xs2f);
}
.fd-line.ln-s1 {
  height: var(--xs1);
  line-height: var(--xs1);
  font-size: var(--xs1f);
}
.fd-line.ln-n {
  height: var(--xn);
  line-height: var(--xn);
  font-size: var(--xnf);
}
.fd-line.ln-b1 {
  height: var(--xb1);
  line-height: var(--xb1);
  font-size: var(--xb1f);
}
.fd-line.ln-b2 {
  height: var(--xb2);
  line-height: var(--xb2);
  font-size: var(--xb2f);
}
.fd-line.ln-b3 {
  height: var(--xb3);
  line-height: var(--xb3);
  font-size: var(--xb3f);
}
.fd-line.ln-b4 {
  height: var(--xb4);
  line-height: var(--xb4);
  font-size: var(--xb4f);
}
.fd-line.ln-b5 {
  height: var(--xb5);
  line-height: var(--xb5);
  font-size: var(--xb5f);
}
.fd-line.ln-b6 {
  height: var(--xb6);
  line-height: var(--xb6);
  font-size: var(--xb6f);
}

.fd-line .r2-sx .r2-hori { width: 3px; }

.fd-line.ln-n .r2-sx .r2-hori {
  width: 2px;
  height: 5px;
}
.fd-line.ln-n .r2-sx .r2-row {
  height: 5px;
}
.fd-line.ln-n .r2-sx .r2-col {
  width: 5px;
}

.fd-line.ln-s1 .r2-sx .r2-hori {
  width: 2px;
  height: 4px;
}
.fd-line.ln-s1 .r2-sx .r2-row {
  height: 4px;
}
.fd-line.ln-s1 .r2-sx .r2-col {
  width: 4px;
}

.fd-line.ln-s2 .r2-sx .r2-hori {
  width: 1px;
  height: 3px;
}
.fd-line.ln-s2 .r2-sx .r2-row {
  height: 3px;
}
.fd-line.ln-s2 .r2-sx .r2-col {
  width: 3px;
}

.fd-line.ln-s3 .r2-sx .r2-hori {
  width: 1px;
  height: 2px;
}
.fd-line.ln-s3 .r2-sx .r2-row {
  height: 2px;
}
.fd-line.ln-s3 .r2-sx .r2-col {
  width: 2px;
}

.wr1 { width: 1rem; }
.wr2 { width: 2rem; }
.wr3 { width: 3rem; }
.wr4 { width: 4rem; }
.wr5 { width: 5rem; }


.flexbox.gr {

}
.flexbox.gr1  > * { width: 100%; }
.flexbox.gr2  > * { width: calc((100% / 2)  - ((var(--gap) * 1) / 2));  }
.flexbox.gr3  > * { width: calc((100% / 3)  - ((var(--gap) * 2) / 3));  }
.flexbox.gr4  > * { width: calc((100% / 4)  - ((var(--gap) * 3) / 4));  }
.flexbox.gr5  > * { width: calc((100% / 5)  - ((var(--gap) * 4) / 5));  }
.flexbox.gr6  > * { width: calc((100% / 6)  - ((var(--gap) * 5) / 6));  }
.flexbox.gr7  > * { width: calc((100% / 7)  - ((var(--gap) * 6) / 7));  }
.flexbox.gr8  > * { width: calc((100% / 8)  - ((var(--gap) * 7) / 8));  }
.flexbox.gr9  > * { width: calc((100% / 9)  - ((var(--gap) * 8) / 9));  }
.flexbox.gr10 > * { width: calc((100% / 10) - ((var(--gap) * 9) / 10)); }

.fw1 { font-weight: 100; }
.fw2 { font-weight: 200; }
.fw3 { font-weight: 300; }
.fw4 { font-weight: 400; }
.fw5 { font-weight: 500; }
.fw6 { font-weight: 600; }
.fw7 { font-weight: 700; }
.fw8 { font-weight: 800; }
.fw9 { font-weight: 900; }

.lw1 label { width: 1rem; }
.lw2 label { width: 2rem; }
.lw3 label { width: 3rem; }
.lw4 label { width: 4rem; }
.lw5 label { width: 5rem; }

.fill {
  background-color: var(--matte);
}


.message {
  font-weight: 500;
}
.level-z {
  font-size: 0.75rem;
  font-style: italic;
}
.level-0 {
}
.level-1 {
  color: var(--warn);
}
.level-2 {
  color: var(--alert);
}

.blackbox {
  border: 5px solid var(--matte);
}
.blackcell {
  padding: 5px;
}
.blackcell:not(:first-child) {
  border-top: 5px solid var(--matte);
}
.blackcell.head {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}
.blackfill {
  background-color: var(--matte);
}
.blackline {
  height: 100%;
}
.blacktag {
  background-color: var(--matte);
  color: var(--antimatte);
  font-weight: 600;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  box-sizing: content-box;
}
.blackval {
  font-weight: 500;
}

.hexagram {
  --hg-base: 5px;
  --hg-h: calc(var(--hg-base) * 9);
  --hg-lnh: var(--hg-base);
  --hg-gap: calc(var(--hg-base) * 0.6);
  --hg-mini: calc(var(--hg-base) * 0.4);
  --hg-nano: calc(var(--hg-base) * 0.2);
  --hg-bleed: calc((var(--hg-gap) + var(--hg-lnh)) * 2);
  --hg-ratio: 0.92;
  height: var(--hg-h);
  aspect-ratio: var(--hg-ratio);
  background-color: var(--metal);
}
.hexagram.ordered {
  border: var(--hg-lnh) solid var(--hgc-o2);
  padding: var(--hg-gap);
  height: calc(var(--hg-h) + var(--hg-bleed));
}
.hexagram.order-3 {
  padding: var(--hg-nano);
  height: calc(var(--hg-h) + var(--hg-bleed) + (var(--hg-mini) * 2) + (var(--hg-nano) * 2));
}
.hexagram .hg-outline {
  padding: var(--hg-gap);
}
.order-3.hexagram {
  border: var(--hg-mini) solid var(--hgc-o3);
}
.order-3 .hg-outline {
  border: var(--hg-lnh) solid var(--hgc-o2);
}
.hg-b1 {
  --hg-base: 10px;
}
.hexline {
  height: var(--hg-lnh);
}
.hexline:not(:first-child) {
  margin-top: var(--hg-gap);
}
.hexline .seg {
  height: 100%;
  background-color: var(--hgc-line);
}
.hexline .seg.wing {
  width: 38%;
}
.hg-marker {
  bottom: -24px;
  font-weight: 900;
  width: 100%;
}
.hg-b1 .hg-marker {
  font-size: 1.5rem;
}
.order-2 .hg-marker {
  bottom: -30px;
  width: calc(100% - (var(--hg-gap) * 2));
}
.order-3 .hg-marker {
  bottom: -42px;
  width: calc(100% - (var(--hg-mini) * 2));
}

.hg-top .hg-marker {
  top: -23px;
}
.hg-top.order-2 .hg-marker {
  top: -27px;
}
.hg-top.order-3 .hg-marker {
  top: -38px;
}

.order-1 .hg-label,
.order-2 .hg-label {
  height: var(--hg-h);
  aspect-ratio: var(--hg-ratio);
}
.order-3 .hg-label {
  height: calc(var(--hg-h) + (var(--hg-gap) * 2) + (var(--hg-mini) * 2));
  width: calc(100% - (var(--hg-nano) * 2) - 2px);
}
.hg-label-center {
  background-color: var(--hgc-line);
  height: calc((var(--hg-lnh) * 4) + (var(--hg-gap) * 3));
  width: 100%;
}

.invis {
  visibility: hidden;
}

.loading-screen {
  padding: 10%;
}

.loadbar {
  height: 5px;
}
.progress {
  height: 100%;
  background-color: var(--matte);
}

.cpbtab {
}
.cpbtab.tab100 {
  --tabmax: 100%;
}
.cpbtab.tab90 {
  --tabmax: 90%;
}
.cpbtab.tab80 {
  --tabmax: 80%;
}
.cpbtab.tab70 {
  --tabmax: 70%;
}
.cpbtab.tab60 {
  --tabmax: 60%;
}
.cpbtab.tab50 {
  --tabmax: 50%;
}
.cols-1 .cpbtab-col {
  width: calc(var(--tabmax) / 1);
}
.cols-2 .cpbtab-col {
  width: calc(var(--tabmax) / 2);
}
.cols-3 .cpbtab-col {
  width: calc(var(--tabmax) / 3);
}
.cpbtab-key {
  color: var(--title);
  font-weight: 500;
  text-transform: uppercase;
}

.strikebar {
  height: 1px;
  background-color: var(--subprint);
}

.content-controls {
  text-transform: uppercase;
  float: right;
}

.wrapper {
  overflow: hidden;
}
.wrapper.fb-grid {
  gap: 0 var(--gap);
}
.wrapper .wrapped {
  position: relative;
  left: -9px;
}
.wrapped {
  max-width: 75%;
}
.wrapper svg {
  fill: var(--title);
}
