<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta name="generator" content="{{{vinfo.name}}} {{{vinfo.fullver}}} '{{{vinfo.series}}}'">

  <meta name="robots" content="index, follow">
	<meta name="viewport" content="width=device-width,initial-scale=1">

  <meta name="application-name" content="{{{rc.title}}}">
	<meta property="og:site_name" content="{{{rc.title}}}">
	<meta name="apple-mobile-web-app-title" content="{{{rc.title}}}">

	<meta name="msapplication-config" content="{{{bconf}}}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{{appleicon}}}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{{fav32}}}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{{fav16}}}">
	<link rel="mask-icon" href="{{{safari}}}" color="#5bbad5">
	<link rel="manifest" href="{{{manifest}}}">

	<meta name="msapplication-TileColor" content="#2d89ef">
	<meta name="theme-color" content="#ffffff">

	<meta property="og:image" content={{{ogimage}}} />
	<meta property="og:image:alt" content="A logo featuring a pixelated heart and '0x2764' typeset in a bold monospace font." />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="630" />
	<meta property="og:image:type" content="image/png" />

	<link rel="stylesheet" href="{{{globalcss}}}">
	<link rel="stylesheet" href="{{{cpbcss}}}">

	<script defer src="{{{cpbjs}}}"></script>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Linear+A&family=Noto+Sans+Linear+B&family=Azeret+Mono:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<body>
</body>
</html>
